.nav{
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    position: fixed;
      top:0;
      left: 0;
    padding: 23px 8%;
    z-index: 99;
    transition: all .3s ease;
  }

.nav-active{
  background-color: rgb(255 255 255 / 80%);
  box-shadow: 0 0 10px rgb(0 0 0/8%);
  backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
  width: 100%;
  position: fixed;
    top:0;
    left: 0;
  padding: 17px 8%;
  z-index: 99;
  transition: all .3s ease;
}
  
  .nav-elements{
    display: flex;
    justify-content: space-between;
    padding: 9px 0;
    
  }
  
  .nav-links a{
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    margin: 0 15px 0;
    color: black;
    opacity: 0.7;
    transition: 0.3s;
    letter-spacing: .35px;
    padding: 0.5rem 0rem;
  }
  
  .nav-links a:hover{
    opacity: 1;
  }

  .iconNav {
    display: none;
    height: 19px;
    width: 30px;
    cursor: pointer;
    align-items: center;
  }

  .hamburguer{
    width: 55%;
    height: 3px;
    background-color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }

  .hamburguer::before{
    top: -8px;
    right: 8px;
    display: block;
    content: '';
    position: relative;
    width: 25px;
    height: 3px;
    background-color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }

  .hamburguer::after{
    display: block;
    top: 5px;
    right: 13px;
    content: '';
    position: relative;
    width: 30px;
    height: 3px;
    background-color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }

  .nav-links-burguer{
    display: flex;
    flex-direction: column;
    padding: 0;
    flex-wrap: nowrap;
  }

  .nav-links-burguer a{
    margin: 2px 8px;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    margin: 0 15px 0;
    color: black;
    opacity: 1;
    transition: 0.3s;
    letter-spacing: .35px;
    padding: 0.5rem 0;
  }

  .iconNav.iconActive .hamburguer{
    background: transparent;
    box-shadow: 0 2px 5px transparent;
  }

  .iconNav.iconActive .hamburguer::after{
    top: 0;
    background: black;
    transform: translateY(-50%) rotate(45deg);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    width: 30px;
    height: 3px;
    content: '';
    display: block;
    position: relative;
    left: -10px;
  }

  .iconNav.iconActive .hamburguer::before{
    top: 0;
    background: black;
    transform: translateY(-50%) rotate(-45deg);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    width: 30px;
    height: 3px;
    content: '';
    display: block;
    position: relative;
    left: -10px;
  }

  .menu.menuOpen{
    padding: 10px 0;
    position: fixed;
    top: 77px;
    width: 84%;
    height: auto;
    background: white;
    box-shadow: 10px 0px 69px 0px rgba(0, 0, 0, 0.59);
  }

  .menu.menuClose{
    display: none;
    width: 0px;
  }

  .scrollMenu.scrollMenuClose{
    display: none;
    width: 0px;
  }

  .nav-links-scrollMenu{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 16px;
    transition: 0.5s;
  }

  .nav-links-scrollMenu a{
    font-size: 14px;
    font-weight: 400;
    opacity: 1;
    letter-spacing: .35px;
    padding: 10px 0;
  }

  @media screen and (max-width: 768px) {
    .nav-links{
      display: none;
    }

    .iconNav{
      display: flex;
    }
  }