.skills{
    padding: 6rem 8% 0;
}

.slider-skills div{
    text-align: center;
}

.slider-skills div i{
    color: #009e66;
    font-size: 60px;
    line-height: 0;
}

.slider-skills div p{
    margin-top: 5px;
    color: #777;
    font-size: 15px;
}

.skills-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.skills-wrapper div{
    width: 25%;
    text-align: center;
    margin-bottom: 2rem;
}

.skills-wrapper div i{
    color: #009e66;
    font-size: 60px;
    line-height: 0;
    
}

.skills-wrapper div p{
    margin-top: 5px;
    color: #777;
    font-size: 15px;
}

@media screen and (max-width: 768px) {
    .skills-wrapper div{
        width: calc(100% / 3);
    }
}

@media screen and (max-width: 480px) {
    .skills-wrapper div{
        width: calc(100% / 2);
    }
}